html,
body,
#root {
    height: 100%;
    margin: 0;
}
.flex-container {
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: row;
}
.flex-container > *:nth-child(1),
*:nth-child(5) {
    align-self: flex-start;
}
.flex-container > *:nth-child(2),
*:nth-child(4) {
    align-self: center;
}
.flex-container > *:nth-child(3) {
    align-self: flex-end;
}
div {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: #daa520;
    margin-right: 30px;
}
